.testContainer {
    background-color: bisque;
}

.selectYear {
    max-width: 100px;
}
.playerType {
    max-width: 200px;
}
.longerButton {
    max-width: 130px;
}




/*These are for the navbar with 3 sections*/
.left-section {
    padding-right: 0px;
}

.mid-section {
    padding-right: 0px;
    padding-left: 0px;
}

.right-section {
    padding-left: 0px;
}

